{{#each (get "transfers")}}
<a href="#" class="no-underline d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-flex pos-rel d-style">
    <span class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
        <img alt="{{name}}'s avatar" src="assets/image/avatar/{{avatar}}" class="h-4 w-4" />
    </span>

    <span class="text-default-d3 text-90 text-600">{{name}}</span>

    <span class="ml-auto text-dark-l2 text-nowrap">
        {{amount}}
        <span class="text-80">{{currency}}</span>
    </span>

    <span class="ml-2">
        {{#if in}}
            <i class="fa fa-arrow-up text-green-m1 text-95"></i>
        {{else}}
            <i class="fa fa-arrow-down text-danger-m1 text-95"></i>
        {{/if}}
    </span>
</a>
{{/each}}